@model ClienteModel

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label>Endereço</label>
        <input type="text" class="form-control"  placeholder="Digite seu endereço">
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Cidade</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label>Estado</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">CEP</label>
            <input type="text" class="form-control">
        </div>
    </div>    
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>